# gathering the requirements
# install from setup.py level, e.g. pip install requirements.txt
# NOT pip install ./some/deep/dir/requirements.txt
# to fix relative path issues

# install pytorch specifics first
-r setup/pip/torch_cpu.txt
# defaults
-r setup/pip/default.txt
# development
-r setup/pip/dev.txt
# local
-e .

# do not any default packages below, add them to ./requirements
opensentiment~=0.1.0
requests~=2.27.1
tqdm~=4.62.3